<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="angular-1.0.0.css">
</head>
<body>
	<div>
		<button ng-click="increaseApple">增加</button>
		<button ng-click="decreaseApple">减少</button>
		apple ：<span ng-bind="apple"></span>
	</div>	
	<div>
		<button ng-click="increaseBanana">增加</button>
		<button ng-click="decreaseBanana">减少</button>
		banana ：<span ng-bind="banana"></span>
	</div>
	合计 = <span ng-bind = "sum"></span>
	<script type="text/javascript" src="angularjs-1.0.0.js"></script>
</body>
</html>